#MainContainer{
	background-color: ;
	height: 100%;
	width: 100%;
}
#Container1{
	margin-top: -8px;
	margin-left: -8px;
	background-color: #e9ebee;
	height: 760px;
	width: 635px;
	position: fixed;
}

#Container2{
	background-color: #e9ebee;
	margin-top: -8px;
	margin-left: -41px;
	height: 100%;
	width: 715px;
	float: right;
}
.s1{
	
	margin-left: 10px;
	background: #fff;
	width: 655px;

}
.s2{
	background: #fff;
	width: 685px;
	
}


h3{ font-family: "Avenir LT W01_45 Book1475508",Helvetica,"Apple Color Emoji",sans-serif;
	margin-top: 18px;
	padding: 15px 0 0 0;
	color: #365899;
	font-size: 25px;
	margin-bottom:-6px;
	font-weight: normal;
}
.icon{ 
	margin-top:17px;
	margin-left: 15px;
	float:left;
	margin-right: 5px;
}
.myname{
	
	line-height: 1.4em;
	font-family: "Miller Disp Lt",Georgia,"Apple Color Emoji",serif;
	font-weight: normal;
    margin: 0 0 1em;
	float: left;
	margin-top: 85px;
	margin-left: 78px;
	font-size: 73px;
}
.profpic{
	margin-top: 185px;
	margin-left: -435px;
	position: absolute;
}
.motto{
	margin-top: 500px;
	margin-left: 110px;
}
.des{
	font-family: "Avenir LT W01_45 Book1475508",Helvetica,"Apple Color Emoji",sans-serif;
	    font-weight: normal;
	font-size: calc(0.29806259314456035vw + 13.71px);
	margin-left: 35px;
	padding-bottom:15px
	
}

.icon0{ 
	margin-top: 16px;
	margin-left: 19px;
	float:left;
	margin-right: 7px;
}
.facebook{
	margin-left: 3px;
	margin-top: -350px;
	position: absolute;
}
.twitter{
	margin-top: -310px;
	position: absolute;
}
.pinterest{
	margin-left: 1px;
	margin-top: -267px;
	position: absolute;
}
.instagram{
	margin-left: 3px;
	margin-top: -224px;
	position: absolute;
}
.yahoo{
	margin-left: 3px;
	margin-top: -184px;
	position: absolute;
}
.gmail{
	margin-left: 4px;
	margin-top: -144px;
	position: absolute;
}